<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>If you want to reset password follow next link</h1>
    <a href="http://localhost:4200/change-password?token={{data.[1]}}&email={{data.[0]}}">Click here</a>
</body>
</html>